body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.t-bl {
  border: 1px solid red;

}

.container {
  width: 940px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 320px;
  background-color: #f1f5f7;
  margin-bottom: 60px;
}

.top-panel {
  background-color: #293449;
  min-height: 42px;
  margin-bottom: 45px;
}

.top-panel-left {
  width: 380px;
  float: left;
}

.top-panel-right {
  width: 460px;
  float: right;
  text-align: right;
}


.header-left {
  width: 220px;
  float: left;
  color: red;
  font-size: 16px;
  line-height: 23px;
  margin-left: 52px;
  vertical-align: top;
}

.header-left p {

  margin: 0;
}

.header-middle {
  width: 300px;
  float: left;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  margin-left: 48px;
}

.header-right {
  width: 250px;
  float: right;
  margin-left: 38px;
}

.middle-panel {
  margin-bottom: 39px;
}

.navigation-menu {
  background-color: #293449;
  color: #FFFFFF;
  min-height: 55px;
  border-bottom: 5px solid #293449;
  margin-bottom: 60px;
}

ul {
  padding: 0;
  list-style: none;
}

.navigation-menu ul a:link, .navigation-menu ul a:active, .navigation-menu ul a:visited  {
  color: #FFFFFF;
  text-decoration: none;
}
.promo-block {
  margin-bottom: 53px;
}



.promo-items {
  width: 300px;
  float: left;
  min-height: 123px;
  margin-left: 20px;
  margin-bottom: 20px;
}


.promo-big {
  float: left;
  width: 620px;
  min-height: 266px;
}

.promo-items:first-child {
  margin-left: 0;
}

.promo-items:last-child {
  margin-bottom: 0;
}

.pop-block {
  margin-bottom: 66px;
}

.pop-block:first-of-type {
  margin-bottom: 20px;
}

.pop-title {
  min-height: 90px;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.pop-title h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  float: left;
  color: #32425c;
  width: 420px;
  margin-left: 29px;

}

.pop-title a {
  display: block;
  float: right;
}


.pop-item {
  margin: 0;
  width: 218px;
  min-height: 318px;
  border: 1px solid #f7f3ec;
  float: left;
  margin-right: 20px;
}

figure.pop-item:last-child {
  margin-right: 0;
}

.pop-item h3 {
  margin: 0;
}

.pop-block ul {
  list-style: none;
  padding: 0;
}

.pop-brand {
  margin: 0;
  width: 218px;
  min-height: 143px;
  border: 1px solid #f7f3ec;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.pop-brand:nth-child(4n) {
  margin-right: 0;
}
.service-block {
  background-color: #f2f6f8;
  padding-top: 68px;
  padding-bottom: 100px;
}

.service-block h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.service-title {

  width: 400px;
  margin-bottom: 70px;
}

.service-content {
  width: 300px;
  min-height: 200px;
  float: left;
  margin-right: 20px;

}

.service-content-right {
  margin-right: 0;
}

.about-block {
  min-height: 385px;
  margin-bottom: 85px;
}

.about-left {
  float: left;
  width: 540px;

}

.about-right {
  width: 300px;
  float: right;
}

.about-block h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.footer-nav-panel {
  min-height: 190px;
  background-color: #32425c;
  color: #f1f5f7;
}

.footer-nav-top {
  min-height: 69px;
  margin-bottom: 30px;
}

.footer-nav-bottom {
  min-height: 75px;
  margin-bottom: 30px;
}



.main-footer {
  min-height: 105px;
  background-color: #293449;
}

.copyright {
  width: 240px;
  float: left;
}

.social {
  margin-left: 150px;
  width: 140px;
  float: left;
}

.connect {
  width: 300px;
  float: right;
}

.main-footer p {
  margin: 0;
  padding: 0;
}
